<% for (const film of films) { %>
    <hr>
    <div class="film-container">

        <img src="/film_covers/<%= film.id %>.jpg" class="film-cover">

        <div class="film-details">

            <div>
                <a href="/remove-favourite/<%= film.id %>">🧡</a>
            </div>

            <div class="ml-30"><%= film.title %></div>

            <div class="ml-30">(<%= film.year %>)</div>

        </div>
    </div>

<% } %>


