<table>
    <tr>
        <th>Title</th>
        <th>Year</th>
    </tr>

    <% for (const film of films) { %>
        <tr>
            <td><%= film.title %></td>
            <td><%= film.year %></td>
            <td><a href="/remove-favourite/<%= film.id %>">🧡</a></td>
        </tr>
    <% } %>
</table>
