<div id="navbar-container">
    <a href="/" class="navbar-item <%= marked === "films" ? "marked" : ""%>">Právě letí</a>
    <a href="/favourites" class="navbar-item <%= marked === "favourites" ? "marked" : ""%>">Oblíbené</a>
    <a href="/to-watch" class="navbar-item <%= marked === "toWatch" ? "marked" : ""%>">Ke zhlédnutí</a>
    <a href="/stats" class="navbar-item <%= marked === "stats" ? "marked" : ""%>">Statistiky</a>
</div>