<%- include('_header') %>
<%- include('_navbar') %>

<h2>Tvé oblíbené filmy</h2>
<% if (films.length >= 1) { %>
    <div id="favourite-films" class="mb-40"><%- include('_favouriteFilms') %></div>
<% } else { %>
    <div class="ml-30">žádné</div>
<% } %>


<script>
    const ws = new WebSocket('ws://localhost:3000')

    ws.addEventListener('message', (message) => {
        const json = JSON.parse(message.data)

        if (json.type === 'favFilms') {
            document.getElementById('favourite-films').innerHTML = json.html
        }
    })
</script>

<%- include('_footer') %>
