<%- include('_header') %>
<%- include('_navbar') %>

<h2>Rozšiř naší filmotéku</h2>

<form action="/add" method="post" enctype="multipart/form-data" class="film-add-form">

    <div>
        <label>
            Náhled filmu
            <input type="file" name="image">
        </label>
    </div>

    <div>
        <label>
            Název filmu
            <input type="text" name="title" placeholder="Název" class="input"/>
        </label>
    </div>

    <div>
        <label>
            Rok vydání
            <input type="text" name="year" placeholder="Rok" class="input"/>
        </label>
    </div>

    <div class="margin-top-auto">
        <button type="submit" class="button">Přidat</button>
    </div>

</form>

<h2>Co by se ti mohlo líbit</h2>
<% if (films.length >= 1) { %>
    <div id="films"><%- include('_films') %></div>
<% } else { %>
    <div class="ml-30">žádné</div>
<% } %>


<%- include('_footer') %>
