<%- include('_header') %>

<div class="flex-column-center">
    <h2>Přihlášení</h2>

    <form action='/login' method='post' class="flex-column-center">
        <div>
            <label>
                Přezdívka
                <br>
                <input type='text' name='name' placeholder='Přezdívka' class="input">
            </label><br><br>
        </div>

        <div>
            <label>
                Heslo
                <br>
                <input type='password' name='password' placeholder='Heslo' class="input">
            </label><br><br>
        </div>

        <button type='submit' class="button">Přihlásit se</button>
    </form>

    <%- include('_error') %>
</div>


<%- include('_footer') %>