<%- include('_header') %>

<div class="flex-column-center">
    <h2>Registrace</h2>

    <form action="/register" method='post' class="flex-column-center">
        <div>
            <label>
                Tvoje nová přezdívka
                <br>
                <input type='text' name='name' placeholder='Přezdívka'>
            </label>
            <br><br>
        </div>

        <div>
            <label>
                Tvoje nové heslo
                <br>
                <input type='password' name='password' placeholder='Heslo'>
            </label>
            <br><br>
        </div>

        <button type='submit' class="button">Přihlásit se</button>
    </form>

    <%- include('_error') %>
</div>


<%- include('_footer') %>
