<%- include('_header') %>

<a href="/logout">Odhlásit</a>
<hr>
<%- include('_navbar') %>
<hr>
<h2>Chceš zhlédnout</h2>
<div id="films"><%- include('_toWatchFilms') %></div>
<hr>
<h2>Již jsi zhlédl</h2>
<div id="films"><%- include('_WatchedFilms') %></div>


</body>
</html>
